<div class="card add-car-form">
  <div class="card-content">
    <span class="card-title">Please enter an image url, make and model of a car you want to add.</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" [(ngModel)]="car.image" name="image">
          <label>Image</label>
        </div>
        <div class="input-field col s6">
          <input type="text" [(ngModel)]="car.manufacturer" name="manufacturer">
          <label>Manufacturer</label>
        </div>
        <div class="input-field col s6">
          <input type="text" [(ngModel)]="car.model" name="model">
          <label>Model</label>
        </div>
        <input type="submit" value="Add Car" class="btn waves-effect">
      </div>
    </form>
  </div>
</div>
