<div *ngIf="cars?.length > 0;else noCars">
  <div class="col s12 cards-container">
      <div *ngFor="let car of cars" class="card">
        <div class="card-image">
          <img src="{{car.image}}">
        </div>
        <div class="card-content">
          <span class="card-title">{{car.manufacturer}}</span>
          <p>{{car.model}}</p>
        </div>
        <div class="card-action">
          <a href="#">
            <i [ngStyle]="{'display':editState && carToEdit.id == car.id ? 'none' : 'block' }" (click)="editCar($event, car)" class="fa fa-pencil"></i>
            <i *ngIf="editState && carToEdit.id == car.id" (click)="clearState()" class="fa fa-window-close" id="close-button"></i>
          </a>
          <div *ngIf="editState && carToEdit.id == car.id">
            <form (ngSubmit)="updateCar(car)">
              <div id="form-container">
                  <input type="text" [(ngModel)]="car.image" name="image">
                <br>
                  <input type="text" [(ngModel)]="car.manufacturer" name="manufacturer">
                <br>
                  <input type="text" [(ngModel)]="car.model" name="model">
                <br>
                <div class="form-buttons">
                  <button type="submit" class="btn orange waves-effect" >Update</button>
                  <button (click)="deleteCar($event, car)" class="btn waves-effect red lighten-2">Delete</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
</div>

<ng-template #noCars>
  <hr>
  <h5>These are not the cars you are looking for.</h5>
</ng-template>
