.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 80px;
  .card {
    width: calc(100% - 16px);
    margin: 8px;
    text-align: left !important;
    @media(min-width: (650px)){
      height: 446px;
      width: 290px;
    }
    .card-content {
      position: absolute;
      bottom: 0;
    }
    .card-action{
      padding: 0;
      padding-left: 16px;
      #close-button{
        padding-top: 14px;
      }
      form{
        #form-container{
          margin-right: 12px;
          .form-buttons{
            display: inline-block;
            button{
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
